node_modules
/artifacts
.idea

*.cache

# dotenv environment variables file
_env_files
.env.pipelines

.DS_Store

*.code-workspace
.vscode/

.nx

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

repomix.config.json
repomix-output.*

# cypress outputs
cypress/videos
cypress/screenshots
cypress/diff_output
cypress/downloads
cypress/logs

# docs/test_coverage/
docs/_temp-animatedStar/*.png
docs/_temp-svgExport/*.png
docs/_temp-svgImport/*.png
docs/_temp-raster/*.png
docs/_temp-raster/*.svg

packages/paper2/test_img_diff.png
