node_modules
/artifacts
.idea

*.cache

# dotenv environment variables file
_env_files
.env.pipelines

.DS_Store

*.code-workspace
.vscode/
.github/

.nx

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

repomix.config.json
repomix-output.*